#div1 {
    color: rgb(228, 191, 30);
    background-color: #a364c7;
    background: -moz-linear-gradient(60deg, #419141 0%, #64610f 100%);
    background: -webkit-linear-gradient(60deg, #a364c7 0%, #965fc9 100%);
    background: linear-gradient(60deg, #0c5468 0%, #0d8a5e 100%);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border-radius: 6px;
}

#div2 {
    background-color: rgba(42, 81, 10, 0.5);
    margin-top: 120px;
    margin-left: 380px;
    margin-right: 400px;
    border-radius: 30px;
    border-width: 1px;
    border-color: rgba(121, 93, 34, 0.3);
    border-style: solid;
}

.fontForm1 {
    color: rgb(216, 170, 101);
    font-size: 20px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#form1 {
    font-size: 18px;
    text-align: right;
    margin-right: 30px;
    padding: 11px;
}

.input1 {
    width: 270px;
    height: 19px;
    border-radius: 4px;
}

#btn2 {
    background-color: rgba(83, 69, 7, 0.8);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-left: 10px;
    height: 30px;
    width: 150px;
    color: rgb(29, 19, 7);
    font-size: 20px;
    border-color: rgba(32, 26, 12, 0.5);
    border-style: inherit;
    border-style: solid;
}

#btn1 {
    background-color: rgb(116, 100, 29);
    margin-left: 10px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#form2 {
    margin-top: 40px;
    margin-bottom: 30px;
    text-align: center;
}

#s1 {
    margin-right: 520px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(236, 214, 180);
}

body {
    background-image: url(imagens/guerra.jpg);
    background-repeat: no-repeat;
    background-size: 100vw;
}